# CPU 最高频率，FFT 性能需要
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Flash 配置
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# FreeRTOS tick 精度
CONFIG_FREERTOS_HZ=1000

# WebSocket 支持
CONFIG_HTTPD_WS_SUPPORT=y

# 增大 HTTP 缓冲区（配网页面较大）
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512

